.MovieCollection {
  margin-top: 2rem;
}

.collection-title {
  font-family: var(--font-display);
  font-size: calc(1.5rem + 0.5vw);
  font-weight: bold;
  color: var(--text-primary) !important;
  margin-bottom: 0.5rem;
}

.collection-overview {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

